.introduction{
    height: 100vh;
    background-image: url("../../../images/webp/image1.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.introduction h2{
    object-fit: contain;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(128, 128, 128));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -2px 0px 4px rgba(88, 88, 88, 0.26);
    font-size: 3rem;
    font-weight: 900;
}
.intro-border{
    border: 5px solid rgb(209, 209, 209);
}
.overlay{
    background-color: rgba(0, 0, 0, 0.514);
    width: 100%;
    height: 100%;
}