@font-face {
  font-family: Play;
  src: url(./font/Play-Regular.woff);
}
@font-face {
  font-family: Play;
  src: url(./font/Play-Bold.woff);
  font-weight: 800;
}
body {
  margin: 0;
  font-family: 'Play'!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Play', sans-serif;
}
